<section class="section background">
  <div class="section__title">제가 개발자가 된 이유는</div>
  <div class="section__content">
    <p>
      저는 비전공자입니다. 음악을 좋아해서 보컬을 전공하였고, 가수가 되고싶었지만 현실을 직시하여 <br>
      Sound Engineer 로서 <a class="underline-link" href="http://www.darakcompany.com/" target="_blank">주식회사 다락컴퍼니</a> 에 입사하여 근무했습니다.<br>
      이런 제가 29년 동안 살아온 커리어를 없애고 새롭게 IT 계열로 입사하게된 계기가 있습니다. <br>
    </p>

    <p>
       다락컴퍼니에서 제 역할은 다양했지만 그중 하나인 <b>LMS 컨텐츠 제작</b> 에도 참여했었습니다.<br>
       해당 프로젝트에서 제 역할은 <b>제작이된 영상 컨텐츠를 웹에 게시하고 배포</b>하는 역할을 맡았습니다.<br>
       그 과정중에 JavaScript 언어로 작성된 Backend 파일들을 주로 수정했습니다.<br>
    </p>

    <p>
      처음하는 업무이고 업무를 가르쳐줄 사수의 부재로 초반엔 많이 헤맸지만 <br>
      직원들과 같이 협력하여 무사히 프로젝트를 잘 마칠수 있었습니다.
    </p>

    <p>
      그렇게 해당 프로젝트가 종료되고 코딩에 흥미를 느껴 JavaScript 언어를 독학했지만<br>
      좀더 전문적으로 학습해보고 싶다는 생각이 들어서 <a class="underline-link" href="https://www.codestates.com/" target="_blank">코드스테이츠</a> 부트캠프 백엔드 과정에 등록했습니다.<br>
      그렇게 해당 과정을 수료하고 IT 업계로의 진출을 준비하게 됐습니다.<br>
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
<!--<a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a>-->