<section class="section featured-projects">
  <div class="section__title">제가 참여한 프로젝트들은</div>
  <div class="section__content">
    <div class="project interventions">
      <figure class="project__pic">
        <a href="http://toyporjects3.s3-website.ap-northeast-2.amazonaws.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/pettalk/pettalk.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">PETTALK</a>
        </div>
        <p>반려동물의 주인들을 위한 서비스! 내가 집을 비웠을때 나를 대신해줄 누군가! 실시간 위치서비스와 채팅을 이용한 일정 조율부터 간편한 신청 방법 까지 구현되있습니다.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://github.com/j00r6/seb45_main_032" target="_blank">
          <img src="{{site.baseurl}}/img/featured/spyair/spyair.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/j00r6/seb45_main_032" target="_blank">클론코딩</a>
        </div>
        <p>기존에 만들어져있던 사이트를 클론코딩하면서 기존에 프로젝트와는 다른 영역을 담당해보고 동시에 기존에 학습했던 내용들을 복습할수 있었습니다.</p>
      </figcaption>
    </div>
  </div>
</section>


        <!--    <div class="project screentime">-->
<!--      <figure class="project__pic phones">-->
<!--        <a href="https://github.com/j00r6/seb45_main_032" target="_blank">-->
<!--          <div class="phone">-->
<!--            <img src="{{site.baseurl}}/img/featured/screentime/pettalk1.png" alt="">-->
<!--          </div>-->
<!--          <div class="phone">-->
<!--            <img src="{{site.baseurl}}/img/featured/screentime/pettalk2.png" alt="">-->
<!--          </div>-->
<!--          <div class="phone">-->
<!--            <img src="{{site.baseurl}}/img/featured/screentime/pettalk3.png" alt="">-->
<!--          </div>-->
<!--        </a>-->
<!--      </figure>-->
<!--      <figcaption class="project__caption">-->
<!--        <div class="project__name">-->
<!--          <a href="https://github.com/j00r6/seb45_main_032" target="_blank">PETTALK</a>-->
<!--        </div>-->
<!--        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even-->
<!--          create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>-->
<!--      </figcaption>-->
<!--    </div>-->




<!--<section class="section featured-projects">-->
<!--  <div class="section__title">Featured Projects</div>-->
<!--  <div class="section__content">-->
<!--    <div class="project blistabloc">-->
<!--      <figure class="project__pic">-->
<!--        <a href="https://github.com/j00r6/seb45_main_032" target="_blank">-->
<!--          <img src="{{site.baseurl}}/img/featured/spyair/spyair.jpg" alt="">-->
<!--        </a>-->
<!--      </figure>-->
<!--      <figcaption class="project__caption">-->
<!--        <div class="project__name">-->
<!--          <a href="https://github.com/j00r6/seb45_main_032" target="_blank">클론코딩</a>-->
<!--        </div>-->
<!--        <p>기존에 만들어져있던 사이트를 클론코딩하면서 기존에 프로젝트와는 다른 영역을 담당해보고 동시에 기존에 학습했던 내용들을 복습할수 있었습니다.</p>-->
<!--      </figcaption>-->
<!--    </div>-->

<!--    <div class="project interventions">-->
<!--      <figure class="project__pic">-->
<!--        <a href="http://toyporjects3.s3-website.ap-northeast-2.amazonaws.com/" target="_blank">-->
<!--          <img src="{{site.baseurl}}/img/featured/spyair/spyair.jpg" alt="">-->
<!--        </a>-->
<!--      </figure>-->
<!--      <figcaption class="project__caption">-->
<!--        <div class="project__name">-->
<!--          <a href="https://interventions.design/" target="_blank">PETTALK</a>-->
<!--        </div>-->
<!--        <p>반려동물의 주인들을 위한 서비스! 내가 집을 비웟을때 나를 대신해줄 누군가! 실시간 위치서비스와 채팅을 이용한 일정 조율부터 간편한 신청 방법 까지 구현되있습니다.</p>-->
<!--      </figcaption>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->